body{
    text-align: center;
    background: #FFA500;
    font-family: sans-serif;
    font-weight: 100;
}

.countdown{                                                        
  color: #ffffff;
  font-family: "Verdana";
  font-size: 60px;
  margin: 40px 0px 20px;
}
.SOSC{
  color: #191919;
  font-size: 25px;

}

.timeboxes{                                                 /*for the size and colour of the colons*/
    color: #ffffff;
    font-size: 80px;
}
input{                                                      /*for the iput boxes*/
    background: #FFA500;
    color: #ffffff;
    font-size: 70px;
    border-color: #ef006f;
    font-family: "Verdana";
    font-weight: "bold";
    border: none;
    height:100px;
    width:100px; 
    text-align: center;
}

.start{                                                     /*Start button effects*/
  display: inline-block;
  padding: 28px 13px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #008e05;
  background-color: #fcfcfc;
  border: none;
  border-radius: 35px;
  box-shadow: 0 3px #999;
 
   background-image: url(../images/start.png);
  
 
}  

.start:hover {
	background-color: #dddbdb;
	
	
}


.start:active {
  background-color: #aaaaaa;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
   background-image: url(../images/pause.png);
}


.reset{                                                       /*Stop button effects*/
  display: inline-block;
  padding: 28px 13px;
  font-size :24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #ff0000;
  background-color: #fcfcfc;
  border: none;
  border-radius: 35px;
  box-shadow: 0 3px #999;
   background-image: url(../images/stop.png);
 
}

.reset:hover {background-color: #dddbdb}

.reset:active {
  background-color: #aaaaaa;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

