body{
    text-align: center;
    background: #0bde97;
    font-family: sans-serif;
    font-weight: 100;
}

.countdown{                                                        
  color: #ffffff;
  font-family: "Ubuntu";
  font-size: 60px;
  margin: 40px 0px 20px;
  
}
.SOSC{
  color: #ffffff;
  font-size: 25px;
  font-family: "Ubuntu";
}

.timeboxes{                                                 /*for the size and colour of the colons*/
    color: #ffffff;
    font-size: 80px;
}
input{                                                      /*for the iput boxes*/
    background: #0bde97;
    color: #ffffff;
    font-size: 70px;
    border-color: #ef006f;
    font-family: "Verdana";
    font-weight: "bold";
    border: none;
    height:100px;
    width:100px; 
    text-align: center;
}

.start{                                                     /*Start button effects*/
  padding: 15px 15px;
  cursor: pointer;
  outline: none;
  color: #008e05;
  background-color: #fcfcfc;
  border: none;
  border-radius: 50%;
  box-shadow: 0 2px 1px #999;
}

.start:hover {background-color: #ffffff}

.start:active {
  background-color: #008e05;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


.reset{                                                       /*Stop button effects*/
  padding: 15px 15px;
  cursor: pointer;
  outline: none;
  color: #ff0000;
  background-color: #fcfcfc;
  border: none;
  border-radius: 50%;
  box-shadow: 0 2px 1px #999;
}

.reset:hover {background-color: #ffffff}

.reset:active {
  background-color: #ffffff;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.inv{
  font-size: 0px;
}
